
<header class="text-center">
  <span id="main-header">
    <img src="assets/images/fcc-logo.png" alt="freecodecamp" id="fcc-img">
    <h1 id="scraper">Scraper</h1>
  </span>
 
  <form action="/api/scrape" method="GET" id="scrape-form">
    <button type="submit" class="btn btn-lg" id="scrape-button"><img id="scraper-button-img" src="assets/images/cursor.png" alt="scraper">Update Articles</button></a>
  </form>
</header>

<div class="container">
  
  <div class="panel-group" id="accordion">
    
    {{#each article}}
     
      <div class="panel panel-default">
        <div class="panel-heading article-panel">
          <h4 class="panel-title">
            <a href={{this.link}} target="_blank"><h3>{{this.title}}</h3></a>
          </h4>
           <a data-toggle="collapse" data-parent="#accordion" href='#{{this._id}}'><button class="btn btn-info">Comments</button></a>
        </div>
       
        <div id={{this._id}} class="panel-collapse collapse">
          <div class="panel-body">                      
            {{> comments}}
          </div>

        </div>
      </div>  
     
    {{/each}}

    </div><!-- ENd panel group-->
   
  
</div><!-- End .container -->

<footer class="footer">
    <div class="container">
        <p>&copy;Douglas Aquilino | <a href="https://github.com/daquilino/News-Scraper">GitHub Repo</a></p>
    </div>
</footer>
